@font-face {
    font-family: 'Gothem Pro Black';
    src: url('../fonts/GothemProBlack.ttf');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/RobotoBlack.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/RobotoLight.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/RobotoMedium.ttf');
}